@import "../../styles/variables.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: $primary-font;
  color: $font-color;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

  .currency-container {
    display: flex;
    align-items: center;

    select {
      padding: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      margin: 1rem;
    }
  }

  .search-container {
    display: flex;
    align-items: center;

    input {
      flex-grow: 1;
      padding: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      margin: 0.5rem;
    }

    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #0056b3;
    }
  }
}

.product-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    font-weight: bold;
    cursor: pointer;
  }

  svg.svg-inline--fa {
    margin-left: 0.5rem;
    vertical-align: middle;
  }

  .clickable {
    cursor: pointer;

    &.table-content {
      padding: 0.3rem 0.6rem;
      border: 1px solid #ddd;
      border-radius: 1rem;
      transition: all 0.3s;
    }
  }

  .location-value {
    .table-content {
      color: #ff8300;

      &:hover {
        background-color: #ff8300;
        color: white;
      }
    }
  }

  .animal-value {
    .table-content {
      color: #28a745;

      &:hover {
        background-color: #28a745;
        color: white;
      }
    }
  }
}
