@import "../../styles/variables.scss";

body {
  background-color: $background-color;
  font-family: $primary-font;
  color: $font-color;
}

$product-table-padding: 1rem;
$product-table-border: 1px solid #ddd;

.product-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: $product-table-padding;
    text-align: left;
    border-bottom: $product-table-border;
  }

  th {
    font-weight: bold;
    cursor: pointer;
  }

  svg.svg-inline--fa {
    margin-left: 0.5rem;
    vertical-align: middle;
  }

  .clickable {
    cursor: pointer;

    .table-content {
      padding: 0.2rem 0.5rem;
      border: 1px solid #ddd;
      border-radius: 1rem;
      transition: all 0.3s;
    }
  }

  .location-value {
    color: #007bff;

    &:hover .table-content {
      background-color: #007bff;
      color: white;
    }
  }

  .animal-value {
    color: #28a745;

    &:hover .table-content {
      background-color: #28a745;
      color: white;
    }
  }
}
