// Define your color variables
$primary-color: #b8d8d8;
$secondary-color: #7e685a;
$background-color: #feffff;
$font-color: #5e565a;
$light-shadow: rgba(255, 255, 255, 0.7);
$dark-shadow: rgba(0, 0, 0, 0.4);

// Define your font variables
$primary-font: "Arial", sans-serif;
