$background-color: #feffff;
$button-background-color: #007bff;
$button-hover-background-color: #0056b3;
$animal-value-color: #28a745;
$location-value-color: #ff8300;
$border-color: #ddd;

$font-color: #5e565a;
$primary-font: "Arial", sans-serif;
